<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= titulo %></title>
        <link rel="icon" type="image/x-icon" href="img/logo-salida.jpg" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="estilo_landing.css" rel="stylesheet"/>
        <link href="contactanos_landing.css" rel="stylesheet"/>
        <link rel="icon" href="logo-salida.jpg">
        <script src="funciones_landing.js"></script>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <h1><a class="navbar-brand" href="#page-top">CDM®</a></h1>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#projects">Objetivos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contactanos">Contáctanos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signIn">Registrarte</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">CDM</h1><br>
                        <a class="btn btn-primary" href="/login">Iniciar sesion</a>
                    </div>
                </div>
            </div>
        </header>
        <!--Objetivos-->
            <section class="projects-section bg-light" id="projects">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="Ob1.jpg"/></div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="featured-text text-center text-lg-left">
                                <h3><b>DEPORTISTAS</b></h3>
                                <p class="text-black-50 mb-0">
                                    <li>Adquiren rutinas personalizadas</li>
                                    <li>Seguimiento de su progreso</li>
                                    <li>Asignación de coach</li>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="Ob2.jpg"/></div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="featured-text text-center text-lg-left">
                                <h3><b>COACH</b></h3>
                                <p class="text-black-50 mb-0">
                                    <li>Deportistas a los cuales capacitar con sus entrenamientos.</li>
                                    <li>Asigna rutinas</li>
                                    <li>Lleva el control del progreso de los deportistas</li>
                                </p>
                            </div>
                        </div>
                    </div><br><br>  
                    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                            <div>
                                <h3><b>¡QUE ESPERAS PARA SER PARTE DE CDM!</b></h3>
                            </div>
                        </div><br><br>
                    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                        <div class="col-lg-6"><img class="img-fluid" src="D1.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-center text-lg-left">
                                        <h5 class="text-white">
                                            "Que desgracia para un hombre envejecer sin haber visto 
                                            nunca la belleza y fuerza de la que es capaz su cuerpo".
                                            <br><br>-Jenofonte
                                        </h5>
                                        <hr class="d-none d-lg-block mb-0 ms-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-0 justify-content-center">
                        <div class="col-lg-6"><img class="img-fluid" src="D2.jpg" alt="..." /></div>
                        <div class="col-lg-6 order-lg-first">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-center text-lg-right">
                                        <h5 class="text-white">
                                        "Mientras tú dudas de ti mismo,<br>
                                        otros temen a tu verdadero potencial".
                                        </h5>
                                        <hr class="d-none d-lg-block mb-0 me-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    <section>
        <div id="testimonios">
            <div class="subtitulo">
                <b>La voz de la experiencia</b>
            </div>
            <div id="reseña1">
                <div id="dfreseña1">
                    <img src="PM.jpg" id="freseña1" alt="">
                </div>
                <div class="calificacion">
                    <h2>Fernanda Utrilla</h2>
                    <p>★★★★☆</p>
                    <p>Gracias a sus rutinas pude lograr el objetivo que me había planteado. Los coaches son personas apasionadas que ponen en práctica cada uno de sus consejos.</p>
                </div>
            </div>
            <div id="reseña2">
                <div id="dfreseña2">
                    <img src="PH.jpg" id="freseña2" alt="">
                </div>
                <div class="calificacion">
                    <h2>Aldo Palacios</h2>
                    <p>★★★★★</p>
                    <p>Obtener rutinas online nunca había sido tan fácil. Gracias a ellas logré bajar 10 kilos. Los coaches tienen una gran variedad de rutinas para todo tipo de personas.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="projects-section bg-light" id="contactanos">
        <div id="contactos">
            <div class="subtitulo">
                <b>Contáctanos</b>
            </div>
            <div id="martin">
                <div id="dfmartin">
                    <img onclick="mostrarm(imprimirm);" src="1.jpg"  id="fmartin" alt="">
                </div>  
                <div id="dmartin">
                </div>
            </div>
            <div id="cristian">
                <div id="dfcristian">
                    <img onclick="mostrarc(imprimirc);" src="2.jpg"  id="fcristian" alt="">
                </div>   
                <div id="dcristian">
                </div>
            </div>
            <div id="diego">
                <div id="dfdiego">
                    <img onclick="mostrard(imprimird);" src="3.jpg"  id="fdiego" alt="">
                </div>  
                <div id="ddiego">
                </div>
            </div>
            <div id="ulises">
                <div id="dfulises">
                    <img onclick="mostraru(imprimiru);" src="4.jpg"  id="fulises" alt="">
                    </div>   
                    <div id="dulises">
                </div>
            </div>
        </div>
        <div>
            <h4><b>¡REGISTRATE AHORA!</b></h4>
           <button onclick="location.href='/signIn'"  id="registrate">Click Aquí</button>
        </div>
    </div>
</section>
<script src="funciones_landing.js"></script>
</body>
</html>
