<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo-salida.jpg">
    <link rel="stylesheet" href="estilo_signIn.css">
    <title>CDM</title>
    <script src="funciones_login.js"></script>
</head>

<body>
    <script type="text/javascript"> 
        let mensaje = '<%=alerta%>';
        if(mensaje!="")
        {
            alert(mensaje);
        }
    
        </script>
    
    <div id="form">
        <div class="form">
            <img src="CDM.png" id="imgCDM">
            <div class="grupo">
                <center><select id="opcion">
                    <option selected value="coach">Coach</option>
                    <option value="deportista">Deportista</option>
                </select></center>
            </div>
            <div class="grupo">
                <input type="email" id="correo" required>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <input type="password" id="contrasena" required>
                <label for="">Contraseña</label>
            </div>
            <div class="grupo">
                <button onclick="iniciar();">Iniciar sesión</button>
            </div>

        </div>
        <br>
        <center><a href="/signin">¿No tienes cuenta? Registrate aquí</a></center>
    </div>
</body>

</html>